@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'OpenSauceOne';
  src: url('./assets/fonts/fonts-opensauce/OpenSauceOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSauceOne-Bold';
  src: url('./assets/fonts/fonts-opensauce/OpenSauceOne-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSauceOne-SemiBold';
  src: url('./assets/fonts/fonts-opensauce/OpenSauceOne-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

input::placeholder {
  font: 10px OpenSauceOne;
  color: rgb(188, 182, 182);
  opacity: 1; /* Biar tidak transparan */
  font-size: 10px;
  /* Tambahkan gaya lainnya sesuai kebutuhan */
}